*{
    margin:0;
    padding: 0;
}
body{
    background: url(https://ak0.picdn.net/shutterstock/videos/10883360/thumb/1.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
}
h1{
   color:#fff;
   text-align: center;
   padding: 40px; 
}
h2{
    background-color:#ccc;
    border:1px solid #934;
    border-radius:10px;
    padding: 5px;
    margin: 40px;
    clear:left;
}
ul{
    list-style: none;
}
#grid-floats li{
    width:calc(100%/4 - 25px);
    float:left;
}


.grid-item {
    margin:10px;
    border:1px solid #147;
    border-radius:20px;
    background-color:#fff;
    text-align:center;
    padding-bottom:10px;
    padding-top:30px;
    height:400px;
    opacity:0.8;
} 
.grid-item:hover{
    background-color:#12f;
    color: #fff;
    font-weight: bold;
    transition:500ms;
}

#grid-floats li:nth-child(1){
    width:calc(100%/2 - 27px);
}
.grid-item img{
    padding: 3px;
    width:50%;
}
#grid-flex{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
#grid-flex .grid-item{
    flex-basis:calc(100%/4 - 25px);
}
#grid-flex li:nth-child(1){
    flex-basis:calc(100%/2 - 25px);
}
/* Iphone 6 and 7 responsive*/
@media only screen and (max-width:375px) {
    #grid-floats li{
        width:calc(100%/2 - 10px);
        margin-left:3px;
        margin-right:3px;
        overflow-y: auto;
    }
    #grid-floats li:nth-child(1){
        width:calc(100% - 10px);
    }
    #grid-flex li:nth-child(1){
        flex-basis:100%;
    }
    #grid-flex .grid-item{
        flex-basis:calc(100%/2 - 10px);
        margin-left:3px;
        margin-right:3px;
        overflow-y: auto;
    }
    .grid-item{
        min-width:150px;
    }
}
/* Ipad responsive*/

@media only screen and (min-width:376px) and (max-width:768px){
    #grid-floats li{
        width:calc(100%/3 - 10px);
        margin-left:3px;
        margin-right:3px;
        overflow-y: auto;
    }
    #grid-floats li:nth-child(1){
       width:calc(100% / 2 - 10px);
    }
    #grid-floats li:nth-child(2){
        width:calc(100%/2 - 10px);
    }
    #grid-flex li:nth-child(1){
        flex-basis:calc(100% / 2 - 10px);
    }
    #grid-flex li:nth-child(2){
        flex-basis:calc(100% / 2 - 10px);
    }
    #grid-flex .grid-item{
        flex-basis:calc(100% / 3 - 10px);
        margin-left:3px;
        margin-right:3px;
        overflow-y: auto;
    }
    .grid-item{
        min-width:150px;
    }
}


